<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    	<!-- 用的Mysql 修改为 MySQLDialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 改为Mysql的驱动连接 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">fendou</property>
        <property name="hibernate.connection.url">jdbc:mysql://130.10.7.122:3306/tx</property>
        <property name="show_sql">true</property>
        <!-- 格式化sql语句 -->
        <!-- <property name="format_sql">true</property> -->
        <!-- 不用改为create 容易出现数据库表丢失 -->
        <!--  <property name="hbm2ddl.auto">update</property> -->
         <!-- 指定映射文件的路径 -->
         <mapping resource="yk/po/Kai.hbm.xml"/>
    </session-factory>
   
    
</hibernate-configuration>